.star {
    color: red;
}

.defaultSelect {
    color: blue !important;
}

.from {
    display: flex;
    justify-items: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 991px) {
    .from {
        display: flex;
        justify-items: space-between;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}

.note {
    color: chocolate;
    font-size: 12px;
}

.extra {
    max-height: 100%;
}

.up {
    max-height: 200px;
}

.proName {
    font-size: 14px !important;
}

.upImg {
    min-height: 220px !important;
    max-height: 220px !important;
}

.img_div {
    min-height: 220px;
}

.variation_inputs {
    width: 150px !important;

}



.variation_img {
    font-size: 16px !important;
    text-wrap: nowrap !important;
    padding: 5px 0 0px 10px !important;
    max-height: 45px !important;
    max-width: 280px;
}

.purchase_img {
    font-size: 16px !important;
    text-wrap: nowrap !important;
    padding: 5px 0 0px 10px !important;
    max-height: 45px !important;
}

.variation_plus {
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-5%);
    color: green;
}

.variation_delete {
    font-size: 20px;
    cursor: pointer;
    transform: translate(20%, -10%);
    color: crimson;
}

.variation_table {
    margin: 10px 0;
}

.barBtn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bar-input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.add-button {
    margin-top: 50px !important;
}

.customar-info {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 10px !important;
    font-size: 14px !important;
    padding: 10px 0 !important;
    margin-bottom: 5px;
    text-wrap: nowrap !important;
}

.invoice-info {
    display: flex !important;
    /* justify-content: space-between !important; */
    align-items: center !important;
    gap: 10px !important;
    font-size: 14px !important;
    padding: 10px 0 !important;
    margin-bottom: 5px;
    text-wrap: nowrap !important;
}

.invoice-btn {
    margin-top: 42px !important;
}


.search-input {
    width: fit-content !important;
}

.qty {
    max-width: 50px !important;
}

.modal-title {
    font-size: 20px !important;
}


.addModal {
    font-size: 40px;
    background-color: #0B5ED7;
    border-radius: 50%;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;

}

.addModal:hover {
    background-color: #0c4a88;
    transform: scale(1.05);
}

.tableIcon{
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 3px;
}